html,body{
	height:100%;
	display: block;
}

.mainBody{
	height: 600px;
	//background-color: yellow;

	& .messageBody{
		height: 400px;
		background-color: azure;
		border: 1px solid rgba(0, 0, 0, .2);
		overflow: auto;
	}

	& .messageInput{
		height: 100px;
	}

	& .messagesContainer{

		display: block;
		height: 50px;
		line-height: 50px;
		margin: 5px;

		& img{
			vertical-align: middle;
		}

		& .messages{
			height:30px;
			line-height: 30px;
			vertical-align: middle;
			font-size: 22px;
			display: inline-block;
			background-color: #ccffff;
			margin: 7px;
			border: 1px solid rgba(0, 0, 0, .1);
			border-radius: 15px;
			padding: 5px;
		}
	}
}

